@import url(https://fonts.googleapis.com/css?family=Karla:400,700,400italic,700italic);

::-moz-selection { background: #ddd; }
::selection { background: #ddd; }

* {
    padding:0;
    margin:0;
}

html, body {
    height:100%;
    background: white;
    font-family: 'Karla', sans-serif;
}

body::before, body::after {
    content: "";
    position: fixed;
    background: white;
    left: 0;
    right: 0;
    height: 3px;
    z-index: 10;
}

body::before {
    top: 0;
}

body::after {
    bottom: 0;
}

label{
    color: white;
    opacity: 1;
}

input[type='text'],
input[type='password']{
    background: rgba(255,255,255,.1);
    border: 2px solid rgba(255,255,255,.5);
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    transition: 0.3s;
    box-sizing: border-box;

    &:focus{
        border-color: white;
        outline: 0;
        background: rgba(255,255,255,.2);
    }
}

input[type='submit']{
    margin-top: 15px;
    width: 100%;
    box-sizing: border-box;
}

.links{
    margin-top: 50px;
    text-align: center;

    a{
        color: white;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin: 5px;
        transition: .3s;

        &:hover{
            color: $brand-color;
        }
    }
}

table{
    background: rgba(255,255,255,0.1);
    padding: 5px 10px;

    tr{ color: white; &:hover{ color: $brand-color;  background: rgba(255,255,255,.1)}}
    td{ padding: 5px; border-bottom: 1px solid rgba(255,255,255,.3); }
    input[type='submit']{ padding: 0; border: none; background: none; margin: 0; }
}

.pagination{
    background: rgba(255,255,255,0.1);
    padding: 5px 10px;
    position: relative;
    margin-top: 30px;
    display: inline-block;

    li{ list-style: none; float: left; padding: 7px; position: relative; }
    a{ text-decoration: none; }
}