@import url(https://fonts.googleapis.com/css?family=Karla:400,700,400italic,700italic);

::-moz-selection { background: #ddd; }
::selection { background: #ddd; }

* {
    padding:0;
    margin:0;
}

html, body {
    height:100%;
    background: white;
    font-family: 'Karla', sans-serif;
}

body::before, body::after {
    content: "";
    position: fixed;
    background: white;
    left: 0;
    right: 0;
    height: 3px;
    z-index: 10;
}

body::before {
    top: 0;
}

body::after {
    bottom: 0;
}