input[type='submit'],
.btn{
    padding: 15px 30px;
    display: inline-block;
    text-align: center;
    color: $brand-color;
    text-decoration: none;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 6px;
    transition: .3s;
    border: 3px solid $brand-color;
    background: rgba(0,0,0,.3);
    cursor: pointer;

    &:hover{
        color: white;
        border-color: white;
    }
}