.card{

    overflow: hidden;
    height: 400px;

    & > img {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .ajax,
    .info{
        position: absolute;
        top: 0;
        z-index: 5;
        width: 100%;
        height: 100%;

        label{
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }
}

i.ion-ios-heart,
i.ion-ios-heart-outline{
    color: $pink;
    font-size: 3em;
}
