.grid{
    padding: 10px;
    @extend .clearfix;
}

.grid li {
    position: relative;
    float: left;
    width: calc(33.33% - 20px);
    margin: 10px;

    list-style: none;
    
    @media (max-width: 1000px) {
        width: calc(50% - 20px);
    }

    @media (max-width: 640px) {
        width: calc(100% - 20px);
    }
}